body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #333;
  color: #ccc;
}

#container {
  margin: 1rem;
  padding-top: 21rem;
}

.sign-in {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: lighter;
  color: inherit;
}

#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  font-size: 9rem;
  font-weight: bolder;
}

.hidden {
  display: none;
}

#hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  font-size: 3rem;
  font-weight: bolder;
}

#hello input {
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 1.5rem 0;
  color: inherit;
  background-color: #333;
  font-size: 2rem;
}