.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header__title {
  font-size: 2rem;
  font-weight: bold;
}

.header__icons span {
  margin-left: 1rem;
}