.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header__title {
  font-size: 2rem;
  font-weight: bold;
}

.header__icons span {
  margin-left: 1rem;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.header__icons .fa-gear:hover {
  animation: rotate 3s linear infinite;
}