.icon-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}

.icon-row--icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 1rem;
  box-sizing: border-box;
}

.icon-row--icon i {
  font-size: 3rem;
  margin-bottom: 1rem;
}