.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #eee;
  border-top: 1px solid #ccc;
  padding: 1rem;
}

.nav__ul {
  display: flex;
  justify-content: space-between;
}

.nav__a {
  position: relative;
}

.nav__noti {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.nav__noti--msg {
  position: absolute;
  bottom: 1.1rem;
  left: 1.1rem;
}